---
---

<section>

    <h2>certificados</h2>

    <div class="certificados">
        <a target="_blank" href="/public/img/python richard.webp"><img src="/public/img/python richard.webp" alt="certificado"></a>
        <a target="_blank" href="/public/img/sql richard.webp"><img src="/public/img/sql richard.webp" alt="certificado"></a>
        <a target="_blank" href="/public/img/web richard.webp"><img src="/public/img/web richard.webp" alt="certificado"></a>
    </div>

</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        color: wheat;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    img {
        width: 350px;
        height: 250px;
    }

    @media screen and (max-width: 768px) {
        .certificados{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
</style>