---
const currentYear = new Date().getFullYear();
---

<footer>
    <p>&copy; {currentYear} Richard Castiblanco. Todos los derechos reservados y hecho con ♥.</p>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFB036;
    color: black;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
  }
</style>
