<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Soy Richard Castiblanco, un desarrollador freelance full-stack a tiempo completo que trabaja de forma remota desde 2023
		Actualmente estoy trabajando en Colombia.
		Actualmente estoy aprendiendo desarrollo para Android y para escritorio." />
		<meta name="keywords" content="Sobre Mi, Tecnologia, Proyectos, Certificados." />
		<meta name="author" content="Richard Castiblanco" />
		<meta name="robots" content="index, follow" />
		<meta name="create-data" content="6/6/2023" />
		<meta property="og:title" content="" />
		<meta property="og:type" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/public/icon/codigo.webp" />
		<title>Richard Castiblanco | Software Dev</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	*{
		background-color: #0B192C;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Merriweather", serif;
		font-weight: 500;
		font-style: normal;
	}
</style>
